# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules/

## Storybook
storybook-static/

# macOs finder
.DS_Store
._*

# Logs
logs
*.log
npm-debug.log*

# testing
coverage/

# misc
.idea/
.vscode/
dist/
